body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: justify;
}

.image{
  text-align: center;
}

.content{
  padding: 10px;
}

.design{
  width: 200px;
  border-radius: 20%;

}

.left{
  float: left;
  margin-right: 70px;
  margin-bottom: 50px;
}

.right{
  float: right;
  margin-left: 70px;
  margin-bottom: 50px;
}

.stats{
  width: 100%;
}
